extends layout.pug
block content
    .row
      .offset-sm-2.col-sm-8
            .alert.alert-success(role='alert')
              h4.alert-heading Success !
              p The monkey was moved into its paddock and is now referenced in the paddock.
              hr
              p.mb-0 Be careful it is possible that the monkey does not get along with these congeners...