extends layout.pug
block content
    .row
      .offset-sm-2.col-sm-8
            h1.display-3  Create Paddock !
            - var _url = '/paddocks' 
            form(method='POST' action=_url)
                div.form-group
                    label(for='name') Name :
                    input#name.form-control(type="text", placeholder="Name of Paddock" name='name')
                div.form-group
                    label(for='capacity') Capacity :
                    input#capacity.form-control(type="number", placeholder="Capacity of Paddock" name='capacity')
                button.btn.btn-success(type='submit') Submit