extends layout.pug
block content
    .row
      .offset-sm-2.col-sm-8
            .alert.alert-success(role='alert')
              h4.alert-heading Success !
              p The monkey was deleted you are now referenced as an animal killer.
              hr
              p.mb-0 You have no heart trying to limit your killings...