extends layout.pug
block header
    a.btn.btn-primary(href='/monkeys')(style='margin-left:10px; margin-top:10px') < Back

block content
    .row
      .offset-sm-2.col-sm-8
            h1.display-3  Paddocks is Updated !